{% extends "./base.html" %}

{% load static %}

{% block title %}
    About Page
{% endblock title %}

{% block content %}
    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>About US</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->

    <!-- reson_area_start  -->
    <div class="reson_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>Why We Help Collect Funds</span></h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single_reson">
                        <div class="thum">
                            <div class="thum_1">
                                <img src="{% static ".\assets\img\help\charitycopy.png" %}" alt="">
                            </div>
                        </div>
                        <div class="help_content">
                            <h4>Ensure Transparency</h4>
                            <p>We provide real-time progress tracking for each campaign. 
                                Donors can see exactly how their contributions are being used, 
                                ensuring accountability.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_reson">
                        <div class="thum">
                            <div class="thum_1">
                                <img src="{% static ".\assets\img\help\1.png" %}" alt="">
                            </div>
                        </div>
                        <div class="help_content">
                            <h4>Make Giving Availble</h4>
                            <p>Our platform allows anyone, anywhere, to donate easily and securely. 
                                We bring charitable giving to your fingertips, 
                                no matter where you are.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_reson">
                        <div class="thum">
                            <div class="thum_1">
                                <img src="{% static ".\assets\img\help\charitycopy.png" %}" alt="">
                            </div>
                        </div>
                        <div class="help_content">
                            <h4>Support Causes</h4>
                            <p>We help raise funds for essential causes like healthcare, 
                                education, and disaster relief. 
                                Your donation can make a real difference in improving lives.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- reson_area_end  -->

    <!-- latest_activites_area_start  -->
    <div class="latest_activites_area">
        
        <div class="container">
            <div class="row justify-content-left">
                <div class="col-lg-7">
                    <div class="activites_info">
                        <div class="section_title">
                            <h3> <span>How Charifit  </span><br>
                                Works</h3>
                        </div>
                        <p class="para_1">On our platform, charity organizers can create campaigns with clear goals, 
                            and donors can easily contribute toward those goals. 
                            By offering a seamless donation experience</p class="para_1">
                        <p class="para_2">We help ensure that every donation counts. Our goal is
                            to amplify the reach of charity campaigns and help them 
                            achieve their funding goals faster and more efficiently than ever before.
                            </p>
                        <a href="{% url "app:create-campaign" %}" data-scroll-nav="1" class="boxed-btn4">Donate Now</a>
                    </div>
                </div>
                <!-- Right Column (Image) -->
                <div class="col-lg-6" style="flex: 1;">
                    <div class="activites_image">
                        <img src="{% static ".\assets\img\help\charitycopy.png" %}" alt="Activity Image" 
                            style="width: 277px; height: 405px; object-fit: cover; border-radius: 8px; margin-top: 7cm;">
                            <!-- Fixed size for the image (277x405px), and moved down by 20px -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- latest_activites_area_end  -->

    <!-- counter_area_start  -->
    <div class="counter_area pt-120">
        <div class="container">
            <div class="counter_bg overlay">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single_counter d-flex align-items-center justify-content-center">
                            <div class="icon">
                                <i class="flaticon-calendar"></i>
                            </div>
                            <div class="events">
                                <h3 class="counter">12</h3>
                                <p>Campaigns  Funded</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single_counter d-flex align-items-center justify-content-center">
                            <div class="icon">
                                <i class="flaticon-heart-beat"></i>
                            </div>
                            <div class="events">
                                <h3 class="counter">10</h3>
                                <p>Ongoing Projects</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single_counter d-flex align-items-center justify-content-center">
                            <div class="icon">
                                <i class="flaticon-in-love"></i>
                            </div>
                            <div class="events">
                                <h3 class="counter">20</h3>
                                <p>Happy Donors </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single_counter d-flex align-items-center justify-content-center">
                            <div class="icon">
                                <i class="flaticon-hug"></i>
                            </div>
                            <div class="events">
                                <h3 class="counter">6</h3>
                                <p>Finished Events</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter_area_end  -->

    
{% endblock content %}