{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% block title %} {% endblock title %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static ".\assets\img\favicon.png" %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static ".\assets\css\bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static ".\assets\css\owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static ".\assets\css\magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static ".\assets\css\font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static ".\assets\css\themify-icons.css" %}">
    <link rel="stylesheet" href="{% static ".\assets\css\nice-select.css" %}">
    <link rel="stylesheet" href="{% static ".\assets\css\flaticon.css" %}">
    <link rel="stylesheet" href="{% static ".\assets\css\gijgo.css" %}">
    <link rel="stylesheet" href="{% static ".\assets\css\animate.css" %}">
    <link rel="stylesheet" href="{% static ".\assets\css\slicknav.css" %}">
    <link rel="stylesheet" href="{% static ".\assets\css\style.css" %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <style> 
        table, th, td { border: 1px solid black; border-collapse: collapse; } th, td { padding: 8px; text-align: left; }
    </style> 
</head>
<!-- header-start -->
<header>
    <div class="header-area ">
        <div class="header-top_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-md-12 col-lg-8">
                        <div class="short_contact_list">
                            <ul>
                                <li><a href="#"> <i class="fa fa-phone"></i> 0115081710</a></li>
                                <li><a href="#"> <i class="fa fa-envelope"></i>info@charifit.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-lg-4" style="text-align: right;">
                        <div class="social_media_links" style="display: inline-block;">
                            <ul style="display: flex; justify-content: flex-end; gap: 15px; margin: 0; padding: 0; list-style: none;">
                                      
                                {% if user.is_authenticated %}
                                    {% comment %} <li><a href="{% url "app:my-campaign" campaign.id %}">My Campaign</a></li> {% endcomment %}
                                    <li><a href="{% url "accounts:logout" %}">Logout</a></li>
                                {% else %}
                                    <li><a href="{% url "accounts:login" %}">Login</a></li>
                                    <li><a href="{% url "accounts:register" %}">Sign Up</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3">
                        <div class="logo">
                            <a href="/">
                                <img src="{% static ".\assets\img\logo.png" %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="main-menu">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="{% url "app:home" %}">home</a></li>
                                    <li><a href="{% url "app:about" %}">About</a></li>
                                    <li><a href="{% url "app:contact-us" %}">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

<body>
   

    {% block content %}
    
    {% endblock content %}


    <!-- footer_start  -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="{% static ".\assets\img\footer_logo.png" %}" alt="">
                                </a>
                            </div>
                            <p class="address_text">
                                We aim at bridging the gap between <br> 
                                charity organizations and donors, <br> 
                                making fundraising more efficient.
                            </p>


                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Services
                            </h3>
                            <ul class="links">
                                <li><a href="#">Donate</a></li>
                                <li><a href="#">Sponsor</a></li>
                                <li><a href="#">Fundraise</a></li>
                                <li><a href="#">Volunteer</a></li>
                                <li><a href="#">Partner</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Contacts
                            </h3>
                            <div class="contacts">
                                <p>0115081710 <br>
                                    info@charifit.com <br>
                                    Mavueni, Kilifi County
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Top News
                            </h3>
                            <ul class="news_links">
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="img/news/news_1.png" alt="">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">
                                            <h4>School for African 
                                                Childrens</h4>
                                        </a>
                                        <span>Jun 12, 2019</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="img/news/news_2.png" alt="">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">
                                            <h4>School for African 
                                                Childrens</h4>
                                        </a>
                                        <span>Jun 12, 2019</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="row">
                    <div class="bordered_1px "></div>
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <p>
                            Copyright All rights reserved | Charifit 
                            </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer_end  -->

    <!-- link that opens popup -->

    <!-- JS here -->
    <script src="{% static ".\assets\js\vendor\modernizr-3.5.0.min.js" %}"></script>
    <script src="{% static ".\assets\js\vendor\jquery-1.12.4.min.js" %}"></script>
    <script src="{% static ".\assets\js\popper.min.js" %}"></script>
    <script src="{% static ".\assets\js\bootstrap.min.js" %}"></script>
    <script src="{% static ".\assets\js\owl.carousel.min.js" %}"></script>
    <script src="{% static ".\assets\js\isotope.pkgd.min.js" %}"></script>
    <script src="{% static ".\assets\js\ajax-form.js" %}"></script>
    <script src="{% static ".\assets\js\waypoints.min.js" %}"></script>
    <script src="{% static ".\assets\js\jquery.counterup.min.js" %}"></script>
    <script src="{% static ".\assets\js\imagesloaded.pkgd.min.js" %}"></script>
    <script src="{% static ".\assets\js\scrollIt.js" %}"></script>
    <script src="{% static ".\assets\js\jquery.scrollUp.min.js" %}"></script>
    <script src="{% static ".\assets\js\wow.min.js" %}"></script>
    <script src="{% static ".\assets\js\nice-select.min.js" %}"></script>
    <script src="{% static ".\assets\js\jquery.slicknav.min.js" %}"></script>
    <script src="{% static ".\assets\js\jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static ".\assets\js\plugins.js" %}"></script>
    <script src="{% static ".\assets\js\gijgo.min.js" %}"></script>
    <!--contact js-->
    <script src="{% static ".\assets\js\contact.js" %}"></script>
    <script src="{% static ".\assets\js\jquery.ajaxchimp.min.js" %}"></script>
    <script src="{% static ".\assets\js\jquery.form.js" %}"></script>
    <script src="{% static ".\assets\js\jquery.validate.min.js" %}"></script>
    <script src="{% static ".\assets\js\mail-script.js" %}"></script>

    <script src="{% static ".\assets\js\main.js" %}"></script>
</body>

</html>