
{% extends "./base.html" %}
{% load static %}
{% block title %}
    Home page
{% endblock title %}

{% block content %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="slider_text ">

                            <ul>
                                {% for message in messages %} 
                                <li style="color: {% if message.tags == 'error' %}red{% else %}#3CC78F{% endif %};">
                                    {{ message }}
                                </li>
                                {% endfor %}
                            </ul>
                            
                            <h3>"Give Back. Empower Change."</h3>

                            <p>
                                Support meaningful causes with your donation. 
                                Explore charitable initiatives and make a difference today. Your generosity creates impact.
                            </p>
                            {% if user_authenticated %}
                                {% if user_org %}
                                    <a href="{% url "app:create-campaign" user_org.id %}" class="boxed-btn3">
                                        Create Campaign
                                    </a>
                                {% else %}
                                    <a href="{% url "app:register-org" %}" class="boxed-btn3">
                                        Create Campaign
                                    </a>
                                {% endif %}
                            {% else %}
                                <p>Please <a href="{% url 'accounts:login' %}">log in</a> to create an organization or campaign.</p>
                            {% endif %}
                            <a href="{% url "app:view-campaigns" %}" class="boxed-btn3">
                                View Campaigns
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
{% endblock content %}

